<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <title>大数据测试平台</title>
    <script type="text/javascript" src="/jquery-easyui/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css"/>
    <script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./js/hello.js"></script>
</head>
<body background="./img/bg.jpg" style="
background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;
" >
<form id="ff" method="post" style="
    position: absolute; top: 50%; left: 50%; margin: -150px 0 0 -200px; width: 400px; height: 300px;
    ">
    <div id="aa" class="easyui-accordion" style="
        background-color: rgba(255,255,255,0.3); width: 400px; height: 345px;align-content: center;overflow: hidden;border-radius: 10px;
        " >
        <div title="登录" data-options="selected : true" style="width: 105%; overflow: hidden; padding: 0px;padding-top: 20px;background-color: rgba(255,0,0,0.1);">
            <div align="center">
                <input id="username1" class="username easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center">
                <input id="password1" class="password easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center" style="margin-top: 40px">
                <a id="btn1" href="javascript:void(0)" class="easyui-linkbutton"
                   onclick="register()">登录</a>
            </div>
        </div>

        <div title="注册"  style="width: 105%; overflow: hidden; padding: 0px;background-color: rgba(255,0,0,0.1);">
            <div align="center">
                <input id="username2" class="username easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center">
                <input id="password2" class="password easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center">
                <input id="repassword2" class="repassword easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center" style="margin-top: 40px">
                <a id="btn2" href="javascript:void(0)" class="easyui-linkbutton"
                   onclick="register2()">注册</a>
            </div>
        </div>

        <div title="找回密码"  style="overflow: hidden; padding: 0px;background-color: rgba(255,0,0,0.1);">
            <div align="center">
                <input id="username3" class="username easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center"><!--输入密码中的某四位用于验证-->
                <input id="parpwd" class="parpwd easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center">
                <input id="password3" class="setpassword easyui-validatebox" type="text" style="width: 320px; ">
            </div>

            <div align="center" style="margin-top: 40px">
                <a id="btn3" href="javascript:void(0)" class="easyui-linkbutton"
                   onclick="register3()">找回密码</a>
            </div>
        </div>


    </div>

</form>
</body>
</html>